html{
  background-color: white;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
hr{
  margin-bottom: 2px;
}
.container {
  margin: 2rem;
}


header.navbar {
  border-radius: 0;
}
.col-md-2 {
  width: 20%;
}
h1 {
  margin-top:10px;
  font-weight: bold;
  display: inline;
  letter-spacing: -2px;
}
.headline {
  margin-right: 38%;
}
h2{
  margin-top: 0px;
}
h4 {
  font-size: 13px;
  font-weight: bold;
}
h3{
  font-size: 15px;
}
h1:after, .card h6:after {
  content: "™";
  font-size: 1rem;
  vertical-align: super;
  margin-left: 0.192rem;
}

.card {
  background: #231e1e;
  border-color: black;
  color: white;
  padding: 1rem;
  margin-bottom: 7px;
  min-height: 9rem;
  position: relative;
  cursor: pointer;
  pointer-events: auto;
}
.card-title {
  font-size: 18px;
}
.card h6 {
  position: absolute;
  font-size: 0.7rem;
  margin-top: 1.618rem;
  bottom: 0.618rem;
  left: 1rem;
}
.card h6:after {
  font-size: 60%;
  margin-left: 1px;
}
#relationships .card:hover, #relationships .disabled {
  background-color: #FA0CF6;
}
#pinnacle-events .card:hover, #pinnacle-events .disabled {
  background-color: #240CFA;
}
#quotes .card:hover, #quotes .disabled {
  background-color: #FA830C;
}
#holiday-episodes .card:hover, #holiday-episodes .disabled {
 background-color: #FAF602;
}
#random-quirks .card:hover, #random-quirks .disabled {
 background-color: #FA0702;
}

.vid {
 margin-left: -2rem;
}
.row {
  margin: 0;
}

footer {
  text-align: center;
  margin-top: 2rem;
  color: silver;
  font-size: 0.6rem;
}
.panel {
  margin-bottom: 0px;
}
.panel-body {
  padding: 0px;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

/*WELCOME MODAL */
.large{
  height:300px;
}

.tablehead{
  display:inline-block;
  font-weight: bold;
}

.bold {
  font-weight:bold;
}

.tdactive {
  background-color: black;
  color: white;
}

.modal-aq .modal-title {
  font-size: 30px;
  letter-spacing: -2px;
  font-weight: bold;
  display: inline-block;
  float: left;
}

.modal-aq p {
  font-size: 18px;
  letter-spacing: -1px;
}


.modal-aq a, .modal-aq a:hover{
  display: inline;
  float: right;
  color: grey;
  font-size: 12px;
  text-decoration: none;
}

.modal-aq .btn {
  display: inline-block;
  border-radius: 0px;
  margin-top: 5px;
}

.modal-footer .btn+.btn {
  margin-bottom:;
}
.modal-welcome .modal-content {
  background-color: black;
}

.modal-header {
  border-bottom: none;
  height: 100px;
}

.modal-welcome .modal-title {
  font-weight: bold;
  display: inline;
  letter-spacing: -2px;
  color: white;
}

.modal-welcome .modal-title:after {
  content: "™";
  font-size: 1rem;
  vertical-align: super;
  margin-left: 0.192rem;
}
.modal-welcome h3 {
  font-weight: bold;
  font-size: 24px;
  display: inline;
  color: white;
}

.modal-welcome h4 {
  font-size: 18px;
  color:white;
}
.modal-welcome table {
  color: white;
}

.modal-footer {
  border-top: none;
}

.modal-welcome .form-control {
  border: none;
  border-radius: 0px;
  letter-spacing: 1px;
}
.modal-welcome p {
  color: white;
  font-size: 1rem;
}


.modal-winner .modal-content {
  background-color:black;
  color:white;
  text-align: center;
}

.modal-winner h2 {
  margin-top:10px;
  font-weight: bold;
  display: inline;
  letter-spacing: -2px;
}
.modal-winner .modal-body {
  padding-bottom: 50px;
}
/*BUTTON*/
.modal-welcome .btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.modal-winner button {
  display: block;
  margin-top: 29px;
  font-size: 19px;
  border: white;
  background-color: black;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 80%;
  padding: 20px;
  margin-left: 10%;
}

.modal-winner button:hover, .modal-winner button:visited {
  background-color: #FA0CF6;
  border-style:none;
}
.counter {
  font-weight: bold;
  font-size: 24px;
  display: inline;
  float: left;
}
.red {
  color: red;
}
.green {
  color: green;
}


.modal-aq .small {
  font-size: 1.2rem;
  margin-right:5px;
  margin-bottom:0px;
  margin-top:4px;
}
